auto_reprovisioning_mode = "OnErrorOnly"
hostname = "${HOST_FQDN}"
parent_hostname = "parent-iotedge-01p"
trust_bundle_cert = "file:///var/aziot/certs/root-ca.cert.pem"
prefer_module_identity_cache = false

[edge_ca]
cert = "file:///var/aziot/certs/child-ca-full-chain.cert.pem"
pk   = "file:///var/aziot/cert_keys/child-ca.key.pem"

[provisioning]
source = "manual"
connection_string = "${CHILD_CONNECTION_STRING}"

[aziot_keys]
[preloaded_keys]
[cert_issuance]
[preloaded_certs]
