hostname = "${CHILD_DEVICE_ID}"
parent_hostname = "${PARENT_DEVICE_ID}"
auto_reprovisioning_mode = "OnErrorOnly"
trust_bundle_cert = "file:///var/aziot/certs/parent-ca.cert.pem"

[edge_ca]
cert = "file:///var/aziot/certs/child-${CHILD_DEVICE_ID}.cert.pem"
pk = "file:///var/aziot/cert_keys/child-${CHILD_DEVICE_ID}.key.pem"

[provisioning]
source = "manual"
connection_string = "HostName=${IOT_HUB_HOSTNAME};DeviceId=${CHILD_DEVICE_ID};SharedAccessKey=${CHILD_KEY}"
